html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  /* This will hide any horizontal overflow */
}

#root {
  width: 100%;
  height: 100%;
}

body {
  background-image: repeating-radial-gradient(#0c0a0a 80%, #2f312f 90%, #3f4549 90%);
  background-size: 80px 80px;
  background-attachment: fixed; /* Make the background static */
}

.App {
  text-align: center;
}

.App-header {
  background-color: transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
  background: linear-gradient(to left, #ffb969, #edffe6);
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.App-header p {
  font-size: 18px;
  margin-bottom: 20px;
  background: linear-gradient(to bottom, #ff69b4, #ffe6f2);
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sponsors-container h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}